.section {
    width: 100%;
    padding-top: 75px;

    font-family: "Futura PT", sans-serif;

    .container {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;

        padding: 0 60px;
    }
}
